
body{
    background: url('../img/cielo.jpg');
    background-attachment: fixed;
}
#logo{
    background: #1f87c4;
}
#menu ul li:hover{
    background: #1f87c4;
}
.button-more{
    background: #1f87c4;
}
.background{
    background: #1f87c4;
    border: 1px solid #1f87c4;
}