*{
    margin: 0%;
    padding: 0%;
}
.clearfix{
    float:none;
    clear: both;
}
#global{
    width: 75%;
    max-width: 980px;
    min-width: 680px;
    margin: 0px auto;
    margin-top: 30px;  
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 2px gray;
}
#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 77px;
    background: #235E30;
    color: aliceblue;
    text-align: center;
    width: 385px;
    height: 80px;
    margin-bottom: 20px;
    float: left;
    
}
#menu{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#menu ul{
    text-align: center;
    line-height: 46px;
    list-style: none;
}
#menu ul li{
    height: 46px;
    display: inline-block; /* pone la lista de manera horizontal*/
    transition: all 300ms;
}
#menu a{
    display: block;
    color: white;text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;

}
#content-Slider{
    text-align: center;
}
#content{
    padding: 10px;
}
#posts{
    width: 60%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
.post{
    padding: 7px;
}
.post h2{
    font-size: 30px;
    color: #333;   
}
.post .date{
    display: block;
    color: gray;
    margin-top: 5px;
}
.post p{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 20px;
}
.button-more{
    font-size: 14px;
    text-align: center;
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    width: max-content;
    float: auto;
    margin-bottom: 20px;
}
#sidebar{
    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    padding: 5px;
    float: right;

}
#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url("../img/lines.png") repeat-x;
}
#sidebar h4 span{
    background: white;
    padding: 5px;
    border-radius: 10px;
}
#sidebar img{
    width:94%;
    margin-bottom: 10px;
    margin-left: 3%;
    margin-right: 3% ;
    border-radius: 10px;
}
#sidebar p{
    font-size: 15px;
    text-align: justify;
}
#about{
    margin: 0px auto;
}
form input[type="text"],
form input[type="email"],
form input[type="password"]{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 75%;
    margin-bottom: 10px;
    margin-top: 5px;
}
form input[type="submit"]{
    background: #eee;
    padding: 5px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 980px;
    min-width: 680px;
    color: white;
    height: 47px;
    background: rgba(50, 51, 51, 0.70);
    margin:0px auto ;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    line-height: 50px;
}
.bx-viewport{
    height: 250px !important;
}
#selector-theme{
    position: fixed;
    top: 40%;
    padding: 5px;;
    background: rgba(51, 51, 51, 0.5);
    width: auto;
    height: auto;
}

/* formato de estilos para crear el selector de temas */
#to-green,
#to-red,
#to-blue{
    width:  30px;
    height: 30px;
    border: 1px solid white;
    display: block;
    margin: auto 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;

}
#to-green{
    background: #235E30;

}
#to-red{
    background: #ca3413;
}#to-blue{
    background: #1f87c4;
}
.subir{
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}