*{
    margin: 0%;
    padding: 0%;
}
.clearfix{
    float: none;
    clear: both;
}
body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}
#global{
    width: 75%;
    margin: 0px auto;
    margin-top: 30px;  
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 2px gray;
}
#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 77px;
    background: #235E30;
    color: aliceblue;
    text-align: center;
    width: 385px;
    height: 80px;
    margin-bottom: 20px;
    float: left;
    
}
#menu{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#menu ul{
    text-align: center;
    line-height: 46px;
    list-style: none;
}
#menu ul li{
    height: 46px;
    display: inline-block; /* pone la lista de manera horizontal*/
    transition: all 300ms;
}
#menu ul li:hover{
    background: #235E30;
}
#menu a{
    display: block;
    color: white;text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;

}
#content{
    padding: 10px;
}
#posts{
    width: 60%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
.post{
    padding: 7px;
}
.post h2{
    font-size: 30px;
    color: #333;   
}

.post .date{
    display: block;
    color: gray;
    margin-top: 5px;
}
.post p{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 20px;
}
.button-more{
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background: #235E30;
    color: aliceblue;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    width: max-content;
    float: auto;
    margin-bottom: 20px;
}
#sidebar{
    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    padding: 5px;
    float: right;

}
#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url("/img/lines.png") repeat-x;
}
#sidebar h4 span{
    background: white;
    padding: 5px;
    border-radius: 10px;
}
#sidebar img{
    width:94%;
    margin-bottom: 10px;
    margin-left: 3%;
    margin-right: 3% ;
    border-radius: 10px;
}
#sidebar p{
    font-size: 15px;
    text-align: justify;
}
#about{
    margin: 0px auto;
}